/*** DEFAULT DESKTOP BEGIN ***/

body{

}

img {
    vertical-align: bottom;
}

.wrapper{
    /*background: red;*/
    margin: 0 auto;
    max-width: 1200px;
}

/*** DEFAULT DESKTOP END ***/

/*** TABLET BEGIN ***/

@media only screen
and (max-width : 1000px){
    .wrapper{
        /*background: yellow;*/
        max-width: 1000px;
        min-width: 800px;
    }
}

/*** TABLET END ***/

/*** MOBILE BEGIN ***/

@media only screen
and (max-width : 400px){
    .wrapper{
        /*background: green;*/
        min-width: 400px;

    }
}

/*** MOBILE END ***/
