/*** DEFAULT DESKTOP BEGIN ***/

.top a:link:hover{
    /*text-decoration: underline;*/
    border-bottom: 2px solid black;
}

.top_menu_first a:link,
.top_menu_first a:visited{
    color: #bababa;
    text-decoration: none;
}

.top_menu_first a:active{
    border-bottom: 2px solid black;
}

.top_menu_second a:link,
.top_menu_second a:active,
.top_menu_second a:visited{
    color: black;
    text-decoration: none;
}

.top_menu_second a:active{
    border-bottom: 2px solid black;
}

/*====================================*/

.top_msg{
    background: #f1f1f1;
    height: 28px;
    width: 100%;
    font-family: "AA Bebas Neue";
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 12px;
}

.top_msg_1{
    color: #cc5c6c;
}

.top_msg_2{
    color: #b4b4b4;
}

/*====================================*/

.top_menu_first{
    height: 60px;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    word-spacing: 80px;
}

.top_menu_first ul :last-child{
    word-spacing: 0;
}

.top_menu_first ul *{
    display: inline-block;
}

.top_menu_first ul{
    padding-top: 23px;
    float: right;
}

/*====================================*/

.top_menu_second{
    height: 90px;
    font-family: "AA Bebas Neue";
    font-size: 18px;
    text-transform: capitalize;
    word-spacing: 100px;
    letter-spacing: 2px;
    border-top: solid #d1d1d1 1px;
    border-bottom: solid #d1d1d1 1px;
}

.top_menu_second ul :last-child{
    word-spacing: 0;
}

.top_menu_second ul *{
    display: inline-block;
}

.top_menu_second_center{
    width: 75%;
    display: inline-block;
    text-align: right;
    float: right;
    padding-top: 40px;
}

.top_menu_second_logo{
    width: 10%;
    padding-top: 15px;
    display: inline-block;
}

/*** DEFAULT DESKTOP END ***/

/*** TABLET BEGIN ***/

@media only screen
and (max-width : 1000px){

}

/*** TABLET END ***/

/*** MOBILE BEGIN ***/

@media only screen
and (max-width : 400px){

}

/*** MOBILE END ***/
