/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: top;
}

div, header, footer, input, button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=button], button {
  padding: 0;
}

@media only screen and (max-width: 800px) {
  body {
    min-width: 385px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    min-width: 320px;
    max-width: 1000px;
  }
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.row * {
  display: inline-block;
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
    url('bebasneuethin.woff2') format('woff2'),
    url('bebasneuethin.woff') format('woff'),
    url('bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'),
    url('bebasneuelight.woff2') format('woff2'),
    url('bebasneuelight.woff') format('woff'),
    url('bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
    url('bebasneuebook.woff2') format('woff2'),
    url('bebasneuebook.woff') format('woff'),
    url('bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}*/
@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("../fonts/bebas_neue_web/bebasneuebold.woff2") format("woff2"), url("../fonts/bebas_neue_web/bebasneuebold.woff") format("woff"), url("../fonts/bebas_neue_web/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  /*font-weight: 400;*/
  font-style: normal;
}

/*@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
    url('bebasneuebold.woff2') format('woff2'),
    url('bebasneuebold.woff') format('woff'),
    url('bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}*/
.top {
  position: relative;
}

.top_msg {
  padding: 7px 0;
  text-align: center;
  letter-spacing: 2px;
  background: #f1f1f1;
  font-family: "Bebas Neue";
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .top_msg {
    display: none;
  }
}

.top_msg_1 {
  color: #cc5c6c;
}

.top_msg_2 {
  color: #bababa;
}

/*====================================*/
.top_menu_button {
  position: absolute;
  top: 50px;
  right: 50px;
  display: none;
  cursor: pointer;
  color: #2e2e2e;
  font-family: "Bebas Neue";
  font-size: 30px;
}

@media only screen and (max-width: 1200px) {
  .top_menu_button {
    display: block;
  }
}

.top_menu_button:hover {
  color: #c41735;
}

.top_menu_close {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #2e2e2e;
  font-size: 30px;
  cursor: pointer;
}

.top_menu_close:hover {
  color: #c41735;
}

.top_menu_mobile {
  position: fixed;
  z-index: 200;
  display: none;
  width: 100%;
  height: 100%;
  background: white;
}

.top_menu_mobile ul {
  width: 300px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 6vw;
  line-height: 100px;
}

.top_menu_mobile ul li :hover {
  color: #c41735;
}

.top_menu_mobile a:link,
.top_menu_mobile a:visited,
.top_menu_mobile a:active {
  text-decoration: none;
  color: #2e2e2e;
}

/*====================================*/
.top_menu_first {
  height: 60px;
  padding: 0 100px;
  word-spacing: 80px;
  text-transform: capitalize;
  font-family: Lato, sans-serif;
  font-size: 14px;
}

@media only screen and (max-width: 1200px) {
  .top_menu_first {
    display: none;
  }
}

.top_menu_first a:link,
.top_menu_first a:active,
.top_menu_first a:visited {
  text-decoration: none;
  color: #bababa;
}

.top_menu_first a:link:hover {
  border-bottom: 2px solid #bababa;
}

.top_menu_first ul {
  float: right;
  padding-top: 23px;
}

.top_menu_first ul :last-child {
  word-spacing: 0;
}

.top_menu_first ul * {
  display: inline-block;
}

/*====================================*/
.top_menu_second {
  height: 90px;
  padding: 15px 100px 0 100px;
  margin-bottom: 150px;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-top: solid #d1d1d1 1px;
  border-bottom: solid #d1d1d1 1px;
  font-family: "Bebas Neue";
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .top_menu_second {
    display: none;
  }
}

.top_menu_second a:link,
.top_menu_second a:active,
.top_menu_second a:visited {
  text-decoration: none;
  color: #000;
}

.top_menu_second a:link:hover {
  border-bottom: 2px solid #000;
}

.top_menu_second > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top_menu_second_logo {
  margin-right: 10%;
}

.top_menu_second_logo img {
  height: 55px;
}

.slider {
  padding-bottom: 70px;
}

@media only screen and (max-width: 1200px) {
  .slider {
    padding-top: 100px;
  }
}

.slider .wrapper {
  height: 100%;
}

.slider_img {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 40%;
  height: inherit;
  padding: 0 0 150px 0;
}

@media only screen and (max-width: 800px) {
  .slider_img {
    float: none;
    width: 100%;
  }
}

.slider_img_thumbs > * {
  display: inline-block;
}

.slider_img_thumbs {
  text-align: center;
  vertical-align: middle;
  font-size: 0;
  height: 40px;
}

.slider_img_thumbs_item {
  width: 18%;
  padding: 5px;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.slider_img_thumbs_item:hover {
  width: 24%;
}

.slider_img_thumbs_item > img {
  width: 100%;
}

.slider_desc {
  display: inline-block;
  float: left;
  width: 60%;
  height: inherit;
  padding: 0 70px;
  font: 22px "Bebas Neue";
}

@media only screen and (max-width: 800px) {
  .slider_desc {
    float: none;
    width: 100%;
  }
}

.slider_desc_first {
  padding-bottom: 5px;
  letter-spacing: 5px;
  color: #413738;
  font-size: 45px;
}

@media only screen and (max-width: 1200px) {
  .slider_desc_first {
    font-size: 24px;
  }
}

.slider_desc_second {
  padding: 0 70px 10px 0;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {
  .slider_desc_second {
    font-size: 16px;
  }
}

.slider_desc_rating {
  text-align: right;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {
  .slider_desc_rating {
    font-size: 16px;
  }
}

.slider_desc_text {
  margin-top: 20px;
  padding: 60px 0;
  border-top: 1px solid #d1d1d1;
  font: 16px Lato, sans-serif;
  line-height: 27px;
}

@media only screen and (max-width: 1200px) {
  .slider_desc_text {
    font-size: 14px;
  }
}

.slider_desc_buttons > * {
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .slider_desc_buttons > * {
    margin: 10px 0;
    text-align: center;
  }
}

.slider_desc_buttons {
  padding-bottom: 70px;
  text-align: right;
  border-bottom: 1px solid #d1d1d1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .slider_desc_buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.slider_desc_buttons_price {
  text-align: left;
  color: #c41735;
  font-size: 32px;
}

@media only screen and (max-width: 800px) {
  .slider_desc_buttons_price {
    text-align: center;
  }
}

.slider_desc_buttons_dropdown {
  white-space: nowrap;
  min-width: 120px;
}

.slider_desc_buttons_dropdown .fs-dropdown-item {
  padding: 15px 5px;
  text-align: center;
  letter-spacing: 2px;
  color: #c41735;
  border: 3px solid #c41735;
  border-top: 0;
  font-family: "Bebas Neue";
  font-size: 22px;
}

.slider_desc_buttons_dropdown .fs-dropdown-item:hover {
  color: white;
  background: #c41735;
}

.slider_desc_buttons_dropdown .fs-dropdown-item_selected {
  color: #d1d1d1;
  background: white;
}

.slider_desc_buttons_dropdown .fs-dropdown-selected {
  padding: 15px 5px;
  text-align: center;
  letter-spacing: 2px;
  color: #d1d1d1;
  border: 3px solid #d1d1d1;
  outline: none;
  background: white;
  font-family: "Bebas Neue";
  font-size: 22px;
}

.slider_desc_buttons_dropdown .fs-dropdown-selected:hover {
  color: white;
  border: 3px solid #c41735;
  background: #c41735;
}

.slider_desc_buttons_dropdown .fs-dropdown-options {
  border: 0;
}

.slider_desc_buttons_dropdown.fs-dropdown.fs-dropdown-focus {
  outline: none;
}

.slider_desc_buttons_add {
  height: 60px;
  min-width: 120px;
  overflow: hidden;
  margin-left: 5px;
  padding-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 3px solid #c41735;
  background-color: white;
  font: 22px "Bebas Neue";
}

.slider_desc_buttons_add:hover {
  color: white;
  background-color: #c41735;
}

.slider_desc_buttons_add:active {
  background-color: #e01b3c;
}

.slider_desc_buttons_add:focus {
  outline: none;
}

@media only screen and (max-width: 800px) {
  .slider_desc_buttons_add {
    margin-left: 0;
  }
}

.slider_desc_share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  letter-spacing: 2px;
  color: #d4d4d4;
  font-size: 19px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .slider_desc_share {
    word-spacing: 0;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .slider_desc_share a {
    zoom: 60%;
  }
}

.slider_desc_share :first-child {
  margin-right: auto;
}

.slider_desc_share_facebook {
  width: 34px;
  height: 34px;
  background-image: url("../img/social.png");
  background-position: right;
}

.slider_desc_share_pinterest {
  width: 34px;
  height: 34px;
  background-image: url("../img/social.png");
  background-position: left;
}

.slider_desc_share_twitter {
  width: 34px;
  height: 34px;
  background-image: url("../img/social.png");
  background-position: top;
}

.slider_desc_share_tumblr {
  width: 34px;
  height: 34px;
  background-image: url("../img/social.png");
  background-position: right top;
}

.active_star {
  width: 14px;
  height: 13px;
  vertical-align: top;
  background-image: url("../img/star_active.png");
}

.inactive_star {
  width: 14px;
  height: 13px;
  vertical-align: top;
  background-image: url("../img/star_inactive.png");
}

/*! formstone v1.1.3 [dropdown.css] 2016-05-24 | GPL-3.0 License | formstone.it */
.fs-dropdown {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
}

.fs-dropdown, .fs-dropdown *, .fs-dropdown :after, .fs-dropdown :before, .fs-dropdown:after, .fs-dropdown:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: none;
  transition: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.fs-dropdown-element {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.fs-dropdown-selected {
  border: none;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 2;
  background: #fff;
  border: 1px solid;
  color: #000;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-align: left;
  text-overflow: clip;
}

.fs-dropdown-options {
  width: 100%;
  max-height: 260px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  background: #fff;
  border: 1px solid;
  display: none;
  overflow: auto;
  overflow-x: hidden;
}

.fs-dropdown-options.fs-scrollbar {
  position: absolute;
}

.fs-dropdown-group {
  display: block;
  font-size: 75%;
}

.fs-dropdown-item {
  border: none;
  padding: 0;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
}

.fs-dropdown-item_placeholder {
  display: none;
}

.fs-dropdown-item_selected {
  background: #ddd;
}

.fs-dropdown-item_disabled {
  cursor: default;
  opacity: .5;
}

.fs-dropdown-open {
  z-index: 3;
}

.fs-dropdown-open .fs-dropdown-options {
  display: block;
}

.fs-dropdown-open .fs-dropdown-selected {
  z-index: 6;
}

.fs-dropdown-cover.fs-dropdown-open .fs-dropdown-selected {
  z-index: 4;
}

.fs-dropdown-cover .fs-dropdown-options {
  top: 0;
}

.fs-dropdown-bottom .fs-dropdown-options {
  top: auto;
  bottom: 100%;
}

.fs-dropdown-bottom.fs-dropdown-cover .fs-dropdown-options {
  top: auto;
  bottom: 0;
}

.fs-dropdown-multiple .fs-dropdown-options {
  width: 100%;
  position: static;
  display: block;
}

.fs-dropdown-disabled {
  opacity: .5;
}

.fs-dropdown-disabled .fs-dropdown-selected {
  cursor: default;
}

.fs-dropdown-disabled .fs-dropdown-group, .fs-dropdown-disabled .fs-dropdown-item {
  cursor: default;
}

.fs-dropdown-options.fs-scrollbar {
  overflow: hidden;
}

.fs-dropdown-options.fs-scrollbar .fs-scrollbar-bar {
  border: 1px solid;
  border-width: 0 0 0 1px;
}

.fs-dropdown-options.fs-scrollbar .fs-scrollbar-content {
  max-height: 260px;
  height: auto;
}

.fs-dropdown-options.fs-scrollbar.fs-scrollbar-active .fs-scrollbar-content {
  padding: 0;
}

/**
 * Owl Carousel v2.1.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  display: none;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.media {
  height: 560px;
}

.media_video {
  float: left;
  width: 40%;
  height: 100%;
  background: url(../img/media/a3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.media_img {
  float: left;
  width: 60%;
  height: 100%;
}

.media_img_top {
  height: 50%;
}

.media_img_top_1 {
  float: left;
  width: 35%;
  height: 100%;
  background: url(../img/media/action3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .media_img_top_1 {
    display: none;
  }
}

.media_img_top_2 {
  float: left;
  width: 65%;
  height: 100%;
  background: url(../img/media/a2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .media_img_top_2 {
    width: 100%;
  }
}

.media_img_bottom {
  height: 50%;
}

.media_img_bottom_1 {
  float: left;
  width: 65%;
  height: 100%;
  background: url(../img/media/action1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .media_img_bottom_1 {
    width: 100%;
  }
}

.media_img_bottom_2 {
  float: left;
  width: 35%;
  height: 100%;
  background: url(../img/media/action2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .media_img_bottom_2 {
    display: none;
  }
}

.info {
  font-family: "Bebas Neue";
}

.info a:link,
.info a:active,
.info a:visited {
  text-decoration: none;
  color: #c41735;
}

.info a:hover {
  text-decoration: underline;
}

.info_tabs {
  position: relative;
  padding-top: 55px;
  text-align: center;
  background-color: #f0f0f0;
}

.info_tabs #tab-1,
.info_tabs #tab-2,
.info_tabs #tab-3 {
  display: none;
}

.info_tabs label {
  padding: 0 75px;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
  letter-spacing: 2px;
  color: #b4b4b4;
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .info_tabs label {
    padding: 0 10px;
  }
}

.info_tabs label:hover {
  color: #000;
}

.info_tabs input:checked + label {
  color: #000;
}

.info_tabs hr {
  width: 100%;
  height: 1px;
  margin-top: 50px;
  color: #d1d1d1;
  border: none;
  background-color: #d1d1d1;
}

.info_tabs_features, .info_tabs_specs, .info_tabs_reviews {
  display: none;
  width: 100%;
  padding-top: 70px;
  text-align: left;
}

.info_tabs_specs {
  word-spacing: 2px;
  font-family: Lato, sans-serif;
  line-height: 24px;
  background: white;
}

.info_tabs_specs img {
  float: left;
  margin: 0 40px 0 0;
}

.info_tabs_specs p {
  font-size: 16px;
  padding-bottom: 20px;
}

.info_tabs_specs :last-child {
  padding-bottom: 30px;
}

.info_tabs_reviews {
  width: 50%;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 70px;
}

.info_tabs_reviews :first-child > blockquote {
  margin-top: 0;
}

.info_tabs_reviews blockquote {
  margin: 50px 0;
  padding: 0 30px;
  position: relative;
  border-left: 5px solid #d1d1d1;
}

.info_tabs_reviews :last-child {
  margin-bottom: 0;
}

.info_tabs_features {
  font-size: 0;
}

@media only screen and (max-width: 800px) {
  .info_tabs_features {
    text-align: center;
  }
}

.info_tabs_features_desc {
  display: inline-block;
  width: 50%;
  padding-right: 100px;
  vertical-align: top;
  letter-spacing: 2px;
}

@media only screen and (max-width: 800px) {
  .info_tabs_features_desc {
    width: 80%;
    padding: 0 0 50px 0;
  }
}

.info_tabs_features_desc h3 {
  padding-bottom: 40px;
  font-size: 24px;
}

.info_tabs_features_desc h4 {
  padding-bottom: 30px;
  color: #b4b4b4;
  font-size: 20px;
}

.info_tabs_features_desc p {
  letter-spacing: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.info_tabs_features_pic {
  position: relative;
  display: inline-block;
  width: 50%;
  margin-bottom: -100px;
  background: green;
}

@media only screen and (max-width: 800px) {
  .info_tabs_features_pic {
    width: 80%;
  }
}

.info_tabs_features_pic::after {
  position: absolute;
  right: 0;
  bottom: -25px;
  content: "work with great equipment";
  letter-spacing: 2px;
  color: #b4b4b4;
  font-size: 20px;
}

.info_tabs_features_pic img {
  width: 100%;
  vertical-align: top;
}

.info_tabs_features_details {
  width: 100%;
  background: white;
}

.info_tabs_features_details .wrapper > * {
  width: 25%;
}

@media only screen and (max-width: 800px) {
  .info_tabs_features_details .wrapper > * {
    width: 80%;
  }
}

.info_tabs_features_details .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 180px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .info_tabs_features_details .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}

.info_tabs_features_details_1 {
  vertical-align: top;
}

.info_tabs_features_details_1 h2 {
  padding-bottom: 25px;
  letter-spacing: 2px;
  font-size: 22px;
}

.info_tabs_features_details_1 h3 {
  letter-spacing: 2px;
  color: #b4b4b4;
  font-family: "Bebas Neue";
  font-size: 20px;
}

.info_tabs_features_details_1 div {
  padding-bottom: 50px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.info_tabs_features_details_2 h2 {
  padding-bottom: 25px;
  letter-spacing: 2px;
  font-size: 22px;
}

.info_tabs_features_details_2 h3 {
  letter-spacing: 2px;
  color: #b4b4b4;
  font-family: "Bebas Neue";
  font-size: 20px;
}

.info_tabs_features_details_2 div {
  padding-bottom: 50px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.info_tabs_features_details_3 h2 {
  padding-bottom: 25px;
  letter-spacing: 2px;
  font-size: 22px;
}

.info_tabs_features_details_3 h3 {
  letter-spacing: 2px;
  color: #b4b4b4;
  font-family: "Bebas Neue";
  font-size: 20px;
}

.info_tabs_features_details_3 div {
  padding-bottom: 50px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

#tab-1:checked ~ .info_tabs_content .info_tabs_features,
#tab-2:checked ~ .info_tabs_content .info_tabs_specs,
#tab-3:checked ~ .info_tabs_content .info_tabs_reviews {
  display: block;
}

.products > * {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 25%;
  height: 560px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  border: 1px solid #d1d1d1;
  border-left: 0;
}

.products > *:hover {
  background: #b4b4b4;
}

@media only screen and (max-width: 1200px) {
  .products > * {
    height: 420px;
  }
}

@media only screen and (max-width: 800px) {
  .products > * {
    display: block;
    width: 100%;
    height: 500px;
  }
}

.products {
  width: 100%;
  font-size: 0;
}

.products img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 125px;
  left: 0;
  width: 50%;
  margin: auto;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.products_item1 p, .products_item2 p, .products_item3 p, .products_item4 p {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 125px;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 30px;
}

.products_item1 p span, .products_item2 p span, .products_item3 p span, .products_item4 p span {
  display: block;
  width: 100%;
  color: #c41735;
}

.products_item1:hover > img,
.products_item2:hover > img,
.products_item3:hover > img,
.products_item4:hover > img {
  width: 60%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.products_item1:hover .products_active,
.products_item2:hover .products_active,
.products_item3:hover .products_active,
.products_item4:hover .products_active {
  margin-top: 0;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
}

.products_active {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 400px;
  background: transparent;
}

.products_active button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 12%;
  margin: auto;
  cursor: pointer;
  color: white;
  border: 0;
  background: #c41735;
  font-family: "Bebas Neue";
  font-size: 22px;
}

.products_active button:active {
  background: #e01b3c;
}

.products_active button:focus {
  outline: none;
}

/***********************************/
/***** DESKTOP _FOOTER BEGIN *******/
/**********************************/
.footer > * {
  display: inline-block;
  vertical-align: top;
}

.footer {
  padding: 120px 100px 0 100px;
  background: #000;
  font-size: 0;
}

.footer_logo {
  width: 20%;
}

@media only screen and (max-width: 1200px) {
  .footer_logo {
    width: 50%;
    padding-bottom: 30px;
  }
}

.footer_logo img {
  width: 50%;
}

.footer_legal {
  width: 15%;
  letter-spacing: 2px;
  color: white;
  font-family: "Bebas Neue";
  font-size: 26px;
}

@media only screen and (max-width: 1200px) {
  .footer_legal {
    width: 50%;
    padding-bottom: 30px;
  }
}

.footer_legal ul {
  padding-top: 60px;
  font-size: 17px;
  line-height: 40px;
}

.footer_legal ul a:link,
.footer_legal ul a:active,
.footer_legal ul a:visited {
  text-decoration: none;
  color: #666666;
}

.footer_legal ul a:hover {
  color: #c41735;
}

.footer_help {
  width: 15%;
  letter-spacing: 2px;
  color: white;
  font-family: "Bebas Neue";
  font-size: 26px;
}

@media only screen and (max-width: 1200px) {
  .footer_help {
    width: 50%;
    padding-bottom: 30px;
  }
}

.footer_help ul {
  padding-top: 60px;
  font-size: 17px;
  line-height: 40px;
}

.footer_help ul a:link,
.footer_help ul a:active,
.footer_help ul a:visited {
  text-decoration: none;
  color: #666666;
}

.footer_help ul a:hover {
  color: #c41735;
}

.footer_social {
  width: 15%;
  letter-spacing: 2px;
  color: white;
  font-family: "Bebas Neue";
  font-size: 26px;
}

@media only screen and (max-width: 1200px) {
  .footer_social {
    width: 50%;
    padding-bottom: 30px;
  }
}

.footer_social ul {
  padding-top: 60px;
  font-size: 17px;
  line-height: 40px;
}

.footer_social ul a:link,
.footer_social ul a:active,
.footer_social ul a:visited {
  text-decoration: none;
  color: #666666;
}

.footer_social ul a:hover {
  color: #c41735;
}

.footer_forms {
  width: 35%;
  letter-spacing: 2px;
  color: white;
  font-family: "Bebas Neue";
  font-size: 26px;
}

@media only screen and (max-width: 1200px) {
  .footer_forms {
    width: 100%;
    padding-bottom: 30px;
  }
}

.footer_forms_locator {
  position: relative;
}

.footer_forms_newsletter {
  position: relative;
  margin-top: 50px;
}

.footer_forms input[type="text"] {
  width: 100%;
  height: 75px;
  margin-top: 20px;
  padding-right: 40%;
  padding-left: 30px;
  text-overflow: ellipsis;
  color: #666666;
  border: 0;
  -webkit-border-radius: 0;
  outline: none;
  background: #202020;
  font-family: Lato, sans-serif;
  font-size: 15px;
}

.footer_forms input[type="text"]::-webkit-input-placeholder {
  color: #666666;
}

.footer_forms input[type="text"]::-moz-placeholder {
  color: #666666;
}

.footer_forms input[type="text"]:-ms-input-placeholder {
  color: #666666;
}

.footer_forms input[type="text"]::placeholder {
  color: #666666;
}

.footer_forms input[type="button"] {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 30%;
  padding: 20px 0;
  cursor: pointer;
  color: white;
  border: 0;
  -webkit-border-radius: 0;
  outline: none;
  background: #c41735;
  font-family: Lato, sans-serif;
  font-size: 15px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

@media only screen and (max-width: 1200px) {
  .footer_forms input[type="button"] {
    width: 40%;
  }
}

.footer_forms input[type="button"]:active {
  background: #e01b3c;
}

.footer_copyring {
  width: 100%;
  margin-bottom: 1px;
  text-align: center;
  color: #666666;
  font-family: Lato, sans-serif;
  font-size: 15px;
}

.footer_copyring hr {
  height: 1px;
  margin-top: 35px;
  border: 0;
  background: #2e2e2e;
}

.footer_copyring p {
  padding: 30px 0;
}

@media only screen and (max-width: 1200px) {
  .footer a,
  .footer h3 {
    font-size: 14px;
  }
}
