/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  /* Firefox */
  /* Opera */
  animation: fadein 2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: bottom;
}

div, header, footer, input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=button], button {
  padding: 0;
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/************************************/
/******* DESKTOP _GLOBAL BEGIN ******/
/************************************/
.row * {
  display: inline-block;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/************************************/
/******* DESKTOP _GLOBAL END ********/
/************************************/
/****************************/
/*** TABLET _GLOBAL BEGIN ***/
/***************************/
@media only screen and (max-width: 1000px) {
  .wrapper {
    min-width: 900px;
    max-width: 1000px;
  }
}

/**************************/
/*** TABLET _GLOBAL END ***/
/**************************/
/****************************/
/*** MOBILE _GLOBAL BEGIN ***/
/****************************/
@media only screen and (max-width: 400px) {
  .wrapper {
    min-width: 400px;
  }
}

/****************************/
/*** MOBILE _GLOBAL END   ***/
/****************************/
/***********************************/
/***** DESKTOP _TOP BEGIN *********/
/**********************************/
/*====================================*/
.top_msg {
  padding: 7px 0;
  text-align: center;
  letter-spacing: 2px;
  background: #f1f1f1;
  font-family: "AA Bebas Neue";
  font-size: 18px;
}

.top_msg_1 {
  color: #cc5c6c;
}

.top_msg_2 {
  color: #bababa;
}

/*====================================*/
.top_menu_first {
  height: 60px;
  word-spacing: 80px;
  text-transform: capitalize;
  font-family: Lato, sans-serif;
  font-size: 14px;
}

.top_menu_first a:link,
.top_menu_first a:active,
.top_menu_first a:visited {
  text-decoration: none;
  color: #bababa;
}

.top_menu_first a:link:hover {
  border-bottom: 2px solid #bababa;
}

.top_menu_first ul {
  float: right;
  padding-top: 23px;
}

.top_menu_first ul :last-child {
  word-spacing: 0;
}

.top_menu_first ul * {
  display: inline-block;
}

/*====================================*/
.top_menu_second {
  height: 90px;
  letter-spacing: 2px;
  word-spacing: 100px;
  text-transform: capitalize;
  border-top: solid #d1d1d1 1px;
  border-bottom: solid #d1d1d1 1px;
  font-family: "AA Bebas Neue";
  font-size: 18px;
}

.top_menu_second a:link,
.top_menu_second a:active,
.top_menu_second a:visited {
  text-decoration: none;
  color: #000;
}

.top_menu_second a:link:hover {
  border-bottom: 2px solid #000;
}

.top_menu_second ul :last-child {
  word-spacing: 0;
}

.top_menu_second ul * {
  display: inline-block;
}

.top_menu_second_center {
  display: inline-block;
  float: right;
  width: 75%;
  padding-top: 40px;
  text-align: right;
}

.top_menu_second_logo {
  display: inline-block;
  padding-top: 15px;
}

.top_menu_second_logo img {
  height: 55px;
}

/*********************************/
/***** DESKTOP _TOP END *********/
/********************************/
/*************************/
/*** TABLET _TOP BEGIN ***/
/*************************/
/*************************/
/*** TABLET _TOP END   ***/
/*************************/
/*************************/
/*** MOBILE _TOP BEGIN ***/
/*************************/
/*************************/
/*** MOBILE _TOP END   ***/
/*************************/
/***********************************/
/***** DESKTOP _SLIDER BEGIN *******/
/**********************************/
.slider {
  height: 880px;
}

.slider .wrapper {
  height: 100%;
}

.slider_img {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 40%;
  height: inherit;
  padding: 150px 0;
}

.slider_desc {
  display: inline-block;
  float: left;
  width: 60%;
  height: inherit;
  padding: 150px 100px 0 100px;
  font: 22px "AA Bebas Neue";
}

.slider_desc_first {
  padding-bottom: 5px;
  letter-spacing: 5px;
  color: #413738;
  font-size: 55px;
}

.slider_desc_second {
  letter-spacing: 2px;
}

.slider_desc_rating {
  float: right;
  letter-spacing: 2px;
}

.slider_desc_text {
  margin-top: 20px;
  padding: 60px 0;
  border-top: 1px solid #d1d1d1;
  font: 16px Lato, sans-serif;
  line-height: 27px;
}

.slider_desc_buttons * {
  width: 30%;
  min-width: 125px;
  height: 60px;
  vertical-align: bottom;
  letter-spacing: 3px;
  line-height: 60px;
}

.slider_desc_buttons {
  padding-bottom: 70px;
  text-align: right;
  border-bottom: 1px solid #d1d1d1;
}

.slider_desc_buttons_price {
  float: left;
  text-align: left;
  color: #c41735;
  font-size: 40px;
}

.slider_desc_buttons_add {
  margin-left: 5px;
  padding-top: 5px;
  border: 3px solid #c41735;
  background-color: white;
  font: 22px "AA Bebas Neue";
}

.slider_desc_buttons_add:hover {
  color: white;
  background-color: #c41735;
}

.slider_desc_buttons_add:active {
  background-color: #e01b3c;
}

.slider_desc_buttons_add:focus {
  outline: none;
}

.slider_desc_share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  letter-spacing: 2px;
  color: #d4d4d4;
  font-size: 19px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.slider_desc_share :first-child {
  margin-right: auto;
}

.slider_desc_share_facebook {
  width: 34px;
  height: 34px;
  background-image: url("../img/social.png");
  background-position: right;
}

.slider_desc_share_pinterest {
  width: 34px;
  height: 34px;
  background-image: url("../img/social.png");
  background-position: left;
}

.slider_desc_share_twitter {
  width: 34px;
  height: 34px;
  background-image: url("../img/social.png");
  background-position: top;
}

.slider_desc_share_tumblr {
  width: 34px;
  height: 34px;
  background-image: url("../img/social.png");
  background-position: right top;
}

.active_star {
  width: 14px;
  height: 13px;
  vertical-align: top;
  background-image: url("../img/star_active.png");
}

.inactive_star {
  width: 14px;
  height: 13px;
  vertical-align: top;
  background-image: url("../img/star_inactive.png");
}

/***********************************/
/***** DESKTOP _SLIDER END *********/
/**********************************/
/*************************/
/*** TABLET _SLIDER BEGIN ***/
/*************************/
/*************************/
/*** TABLET _SLIDER END***/
/*************************/
/*************************/
/** MOBILE _SLIDER BEGIN**/
/*************************/
/*************************/
/*** MOBILE _SLIDER END***/
/*************************/
.dk-select,
.dk-select *,
.dk-select *:before,
.dk-select *:after,
.dk-select-multi,
.dk-select-multi *,
.dk-select-multi *:before,
.dk-select-multi *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dk-select,
.dk-select-multi {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
  width: 30%;
  cursor: pointer;
  color: #d4d4d4;
}

.dk-selected {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: white;
  border: 3px solid #d4d4d4;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-align: center;
  text-overflow: ellipsis;
}

.dk-selected:before, .dk-selected:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
}

.dk-selected:before {
  top: 50%;
  border: solid transparent;
  border-width: 0.25em 0.25em 0;
  border-top-color: #d4d4d4;
  margin: -0.125em 0.5em 0 0;
}

.dk-selected-disabled {
  color: #d4d4d4;
}

.dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  text-align: center;
  color: #c41735;
}

.dk-select-open-up .dk-select-options {
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  margin-bottom: -1px;
  bottom: 100%;
}

.dk-select-open-down .dk-select-options {
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  margin-top: -1px;
  top: 100%;
}

.dk-select-multi .dk-select-options {
  max-height: 10em;
}

.dk-select-options {
  background-color: white;
  border: 3px solid #d4d4d4;
  border-top: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  list-style: none;
  margin: 0;
  max-height: 10.5em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25em 0;
  width: auto;
  height: auto;
  z-index: 100;
}

.dk-option-selected {
  background-color: #c41735;
  color: #fff;
}

.dk-select-options-highlight .dk-option-selected {
  background-color: transparent;
  color: inherit;
  width: auto;
}

.dk-option {
  width: 100%;
}

.dk-select-options .dk-option-highlight {
  background-color: #c41735;
  color: #fff;
  width: 100%;
}

.dk-select-options .dk-option-disabled {
  color: #d4d4d4;
  background-color: transparent;
}

.dk-optgroup {
  border: solid #d4d4d4;
  border-width: 1px 0;
  padding: 0.25em 0;
  margin-top: 0.25em;
}

.dk-optgroup + .dk-option {
  margin-top: 0.25em;
}

.dk-optgroup + .dk-optgroup {
  border-top-width: 0;
  margin-top: 0;
}

.dk-optgroup:nth-child(2) {
  padding-top: 0;
  border-top: none;
  margin-top: 0;
}

.dk-optgroup:last-child {
  border-bottom-width: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.dk-optgroup-label {
  padding: 0 0.5em 0.25em;
  font-weight: bold;
  width: 100%;
}

.dk-optgroup-options {
  list-style: none;
  padding-left: 0;
}

.dk-optgroup-options li {
  padding-left: 1.2em;
}

.dk-select-open-up .dk-selected {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #c41735;
}

.dk-select-open-down .dk-selected {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #c41735;
}

.dk-select-open-up .dk-selected:before,
.dk-select-open-down .dk-selected:before {
  border-width: 0 0.25em 0.25em;
  border-bottom-color: #c41735;
}

.dk-select-open-up .dk-selected:after,
.dk-select-open-down .dk-selected:after {
  border-left-color: #c41735;
}

.dk-select-open-up .dk-select-options,
.dk-select-open-down .dk-select-options,
.dk-select-multi:focus .dk-select-options {
  display: block;
  border-color: #c41735;
}

.dk-select-multi:hover,
.dk-select-multi:focus {
  outline: none;
}

.dk-selected:hover,
.dk-selected:focus {
  color: #c41735;
  outline: none;
  border-color: #c41735;
}

.dk-selected:hover:before,
.dk-selected:focus:before {
  border-top-color: #c41735;
}

.dk-selected:hover:after,
.dk-selected:focus:after {
  border-left-color: #c41735;
}

.dk-select-disabled {
  opacity: 0.6;
  color: #d4d4d4;
  cursor: not-allowed;
}

.dk-select-disabled .dk-selected:hover, .dk-select-disabled .dk-selected:focus {
  border-color: inherit;
}

.dk-select-disabled .dk-selected:hover:before, .dk-select-disabled .dk-selected:focus:before {
  border-top-color: inherit;
}

.dk-select-disabled .dk-selected:hover:after, .dk-select-disabled .dk-selected:focus:after {
  border-left-color: inherit;
}

select[data-dkcacheid] {
  display: none;
}

/***********************************/
/***** DESKTOP _SLIDER BEGIN *******/
/**********************************/
.media {
  height: 560px;
}

.media_video {
  float: left;
  width: 40%;
  height: 100%;
  background: url(../img/media/a3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.media_video:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url(../img/media/a3.jpg) no-repeat;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/media/a3.jpg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/media/a3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.media_img {
  float: left;
  width: 60%;
  height: 100%;
  background: green;
}

.media_img_top {
  height: 50%;
  background: red;
}

.media_img_top_1 {
  float: left;
  width: 35%;
  height: 100%;
  background: url(../img/media/action3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.media_img_top_2 {
  float: left;
  width: 65%;
  height: 100%;
  background: url(../img/media/a2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.media_img_bottom {
  height: 50%;
  background: yellow;
}

.media_img_bottom_1 {
  float: left;
  width: 65%;
  height: 100%;
  background: url(../img/media/action1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.media_img_bottom_2 {
  float: left;
  width: 35%;
  height: 100%;
  background: url(../img/media/action2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

/***********************************/
/***** DESKTOP _SLIDER END *********/
/**********************************/
/*************************/
/*** TABLET _SLIDER BEGIN ***/
/*************************/
/*************************/
/*** TABLET _SLIDER END***/
/*************************/
/*************************/
/** MOBILE _SLIDER BEGIN**/
/*************************/
/*************************/
/*** MOBILE _SLIDER END***/
/*************************/
/***********************************/
/***** DESKTOP _INFO BEGIN *******/
/**********************************/
.info {
  padding-bottom: 50px;
  font-family: "AA Bebas Neue";
}

.info_tabs {
  position: relative;
  padding-top: 55px;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
  background-color: #f0f0f0;
}

.info_tabs #tab-1,
.info_tabs #tab-2,
.info_tabs #tab-3 {
  display: none;
}

.info_tabs label {
  padding: 0 75px;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
  letter-spacing: 2px;
  color: #b4b4b4;
  font-size: 18px;
}

.info_tabs label:hover {
  color: #000;
}

.info_tabs input:checked + label {
  color: #000;
}

.info_tabs hr {
  width: 100%;
  height: 1px;
  margin-top: 50px;
  color: #d1d1d1;
  border: none;
  background-color: #d1d1d1;
}

.info_tabs_content {
  position: relative;
  background-color: #f0f0f0;
}

.info_tabs_features, .info_tabs_specs, .info_tabs_reviews {
  display: none;
  width: 100%;
  padding-top: 70px;
  text-align: left;
}

.info_tabs_features {
  font-size: 0;
}

.info_tabs_features .wrapper {
  margin-bottom: -50px;
}

.info_tabs_features_desc {
  display: inline-block;
  width: 50%;
  padding-right: 100px;
  vertical-align: top;
  letter-spacing: 2px;
}

.info_tabs_features_desc h3 {
  padding-bottom: 40px;
  font-size: 24px;
}

.info_tabs_features_desc h4 {
  padding-bottom: 30px;
  color: #b4b4b4;
  font-size: 20px;
}

.info_tabs_features_desc p {
  letter-spacing: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.info_tabs_features_pic {
  position: relative;
  display: inline-block;
  width: 50%;
  margin-bottom: -100px;
  background: green;
}

.info_tabs_features_pic::after {
  position: absolute;
  right: 0;
  bottom: -25px;
  content: "work with great equipment";
  letter-spacing: 2px;
  color: #b4b4b4;
  font-size: 20px;
}

.info_tabs_features_pic img {
  width: 100%;
}

.info_tabs_features_details {
  width: 100%;
  background: white;
}

.info_tabs_features_details .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 180px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info_tabs_features_details_1 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.info_tabs_features_details_1 h2 {
  padding-bottom: 25px;
  letter-spacing: 2px;
  font-size: 22px;
}

.info_tabs_features_details_1 h3 {
  letter-spacing: 2px;
  color: #b4b4b4;
  font-family: "AA Bebas Neue";
  font-size: 20px;
}

.info_tabs_features_details_1 div {
  padding-bottom: 50px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.info_tabs_features_details_2 {
  display: inline-block;
  width: 25%;
}

.info_tabs_features_details_2 h2 {
  padding-bottom: 25px;
  letter-spacing: 2px;
  font-size: 22px;
}

.info_tabs_features_details_2 h3 {
  letter-spacing: 2px;
  color: #b4b4b4;
  font-family: "AA Bebas Neue";
  font-size: 20px;
}

.info_tabs_features_details_2 div {
  padding-bottom: 50px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.info_tabs_features_details_3 {
  display: inline-block;
  width: 25%;
}

.info_tabs_features_details_3 h2 {
  padding-bottom: 25px;
  letter-spacing: 2px;
  font-size: 22px;
}

.info_tabs_features_details_3 h3 {
  letter-spacing: 2px;
  color: #b4b4b4;
  font-family: "AA Bebas Neue";
  font-size: 20px;
}

.info_tabs_features_details_3 div {
  padding-bottom: 50px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

#tab-1:checked ~ .info_tabs_content .info_tabs_features,
#tab-2:checked ~ .info_tabs_content .info_tabs_specs,
#tab-3:checked ~ .info_tabs_content .info_tabs_reviews {
  display: block;
}

/***********************************/
/***** DESKTOP _INFO END *********/
/**********************************/
/*************************/
/*** TABLET _INFO BEGIN ***/
/*************************/
/*************************/
/*** TABLET _INFO END***/
/*************************/
/*************************/
/** MOBILE _INFO BEGIN**/
/*************************/
/*************************/
/*** MOBILE _INFO END***/
/*************************/
/***********************************/
/***** DESKTOP _PRODUCTS BEGIN *******/
/**********************************/
.products > * {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 25%;
  height: 560px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  border: 1px solid #d1d1d1;
  border-left: 0;
}

.products > *:hover {
  background: #b4b4b4;
}

.products {
  width: 100%;
  font-size: 0;
}

.products img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 125px;
  left: 0;
  width: 50%;
  margin: auto;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.products_item1, .products_item2, .products_item3, .products_item4 {
  position: relative;
}

.products_item1 p, .products_item2 p, .products_item3 p, .products_item4 p {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 125px;
  text-align: center;
  font-family: "AA Bebas Neue";
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 30px;
}

.products_item1 p span, .products_item2 p span, .products_item3 p span, .products_item4 p span {
  display: block;
  width: 100%;
  color: #c41735;
}

.products_item1:hover > img,
.products_item2:hover > img,
.products_item3:hover > img,
.products_item4:hover > img {
  width: 60%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.products_item1:hover .products_active,
.products_item2:hover .products_active,
.products_item3:hover .products_active,
.products_item4:hover .products_active {
  margin-top: 0;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
}

.products_active {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 400px;
  background: transparent;
}

.products_active button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 12%;
  margin: auto;
  cursor: pointer;
  color: white;
  border: 0;
  background: #c41735;
  font-family: "AA Bebas Neue";
  font-size: 22px;
}

.products_active button:active {
  background: #e01b3c;
}

.products_active button:focus {
  outline: none;
}

/***********************************/
/***** DESKTOP _PRODUCTS END *********/
/**********************************/
/*************************/
/*** TABLET _PRODUCTS BEGIN ***/
/*************************/
/*************************/
/*** TABLET _PRODUCTS END***/
/*************************/
/*************************/
/** MOBILE _PRODUCTS BEGIN**/
/*************************/
/*************************/
/*** MOBILE _PRODUCTS END***/
/*************************/
/***********************************/
/***** DESKTOP _FOOTER BEGIN *******/
/**********************************/
.footer > * {
  display: inline-block;
  vertical-align: top;
}

.footer {
  padding: 120px 100px 0 100px;
  background: #000;
  font-size: 0;
}

.footer a:link,
.footer a:active,
.footer a:visited {
  text-decoration: none;
  color: #666666;
}

.footer a:hover {
  color: #c41735;
}

.footer_logo {
  width: 20%;
}

.footer_logo img {
  width: 50%;
}

.footer_legal {
  width: 15%;
  letter-spacing: 2px;
  color: white;
  font-family: "AA Bebas Neue";
  font-size: 26px;
}

.footer_legal ul {
  padding-top: 60px;
  color: #666666;
  font-size: 24px;
  line-height: 40px;
}

.footer_help {
  width: 15%;
  letter-spacing: 2px;
  color: white;
  font-family: "AA Bebas Neue";
  font-size: 26px;
}

.footer_help ul {
  padding-top: 60px;
  color: #666666;
  font-size: 24px;
  line-height: 40px;
}

.footer_social {
  width: 15%;
  letter-spacing: 2px;
  color: white;
  font-family: "AA Bebas Neue";
  font-size: 26px;
}

.footer_social ul {
  padding-top: 60px;
  color: #666666;
  font-size: 24px;
  line-height: 40px;
}

.footer_forms {
  width: 35%;
  letter-spacing: 2px;
  color: white;
  font-family: "AA Bebas Neue";
  font-size: 26px;
}

.footer_forms_locator {
  position: relative;
}

.footer_forms_newsletter {
  position: relative;
  margin-top: 50px;
}

.footer_forms input[type="text"] {
  width: 100%;
  height: 75px;
  margin-top: 20px;
  padding-right: 40%;
  padding-left: 30px;
  text-overflow: ellipsis;
  color: #666666;
  border: 0;
  outline: none;
  background: #202020;
  font-family: Lato, sans-serif;
  font-size: 15px;
}

.footer_forms input[type="text"]::-webkit-input-placeholder {
  color: #666666;
}

.footer_forms input[type="text"]::-moz-placeholder {
  color: #666666;
}

.footer_forms input[type="text"]:-ms-input-placeholder {
  color: #666666;
}

.footer_forms input[type="text"]::placeholder {
  color: #666666;
}

.footer_forms input[type="button"] {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 30%;
  height: 55px;
  cursor: pointer;
  color: white;
  border: 0;
  -moz-appearance: button;
  outline: none;
  background: #c41735;
  font-family: Lato, sans-serif;
  font-size: 15px;
}

.footer_forms input[type="button"]:active {
  background: #e01b3c;
}

.footer_copyring {
  width: 100%;
  margin-bottom: 1px;
  text-align: center;
  color: #666666;
  font-family: Lato, sans-serif;
  font-size: 15px;
}

.footer_copyring hr {
  height: 1px;
  margin-top: 35px;
  border: 0;
  background: #2e2e2e;
}

.footer_copyring p {
  padding: 30px 0;
}

/***********************************/
/***** DESKTOP _FOOTER END *********/
/**********************************/
/*************************/
/*** TABLET _FOOTER BEGIN ***/
/*************************/
/*************************/
/*** TABLET _FOOTER END***/
/*************************/
/*************************/
/** MOBILE _FOOTER BEGIN**/
/*************************/
/*************************/
/*** MOBILE _FOOTER END***/
/*************************/
