.top{
    position: relative;
}

.top_msg{
    padding: 7px 0;

    text-align: center;
    letter-spacing: 2px;

    background: $top_msg_color;

    font-family: $title_font;
    font-size: 18px;

    @include media_tablet {
        display: none;
    }

    &_1{
        color: $top_msg_1_color;
    }

    &_2{
        color: $top_msg_2_color;
    }
}

/*====================================*/

.top_menu_button{
    position: absolute;
    top: 50px;
    right: 50px;

    display: none;

    cursor: pointer;

    color: $hr_color2;

    font-family: $title_font;
    font-size: 30px;

    @include media_tablet {
        display: block;
    }

    &:hover{
        color: $active_color;
    }
}

.top_menu_close{
    position: absolute;
    top: 50px;
    right: 50px;

    color: $hr_color2;

    font-size: 30px;
    cursor: pointer;

    &:hover{
        color: $active_color;
    }
}

.top_menu_mobile{
    position: fixed;
    z-index: 200;

    display: none;

    width: 100%;
    height: 100%;

    background: white;

    & ul{
        width: 300px;
        margin: 0 auto;
        padding-top: 100px;

        text-align: center;

        font-family: $title_font;
        font-size: 6vw;
        line-height: 100px;

        & li{
            & :hover{
                color: $active_color;
            }
        }
    }

    & a:link,
    & a:visited,
    & a:active{
        text-decoration: none;

        color: $hr_color2;
    }

}

/*====================================*/

.top_menu_first{
    height: 60px;
    padding: 0 100px;

    word-spacing: 80px;
    text-transform: capitalize;

    font-family: $content_font;
    font-size: 14px;

    @include media_tablet {
        display: none;
    }

    & a:link,
    & a:active,
    & a:visited {
        text-decoration: none;

        color: $top_menu_first_color;
    }

    & a:link:hover{
        border-bottom: 2px solid $top_menu_first_color;
    }

    & ul{
        float: right;

        padding-top: 23px;

        & :last-child{
            word-spacing: 0;
        }
    }

    & ul *{
        display: inline-block;
    }

}

/*====================================*/

.top_menu_second{
    height: 90px;
    padding: 15px 100px 0 100px;
    margin-bottom: 150px;

    letter-spacing: 2px;
    text-transform: capitalize;

    border-top: solid $hr_color 1px;
    border-bottom: solid $hr_color 1px;

    font-family: $title_font;
    font-size: 18px;

    @include media_tablet {
        display: none;
    }

    & a:link,
    & a:active,
    & a:visited{
        text-decoration: none;

        color: $top_menu_second_color;
    }

    & a:link:hover{
        border-bottom: 2px solid $top_menu_second_color;
    }

    & > ul{
        display: flex;

        align-items: center;
        justify-content: space-between;
    }

    &_logo{
        margin-right: 10%;
    }

    &_logo img{
        height: 55px;
    }

}
