/************************************/
/******* DESKTOP _GLOBAL BEGIN ******/
/************************************/

img{
    vertical-align: bottom;
}

div{
    box-sizing: border-box;
}

.row *{
    display: inline-block;
    // background-color: magenta;
}

.wrapper{
    max-width: 1200px;
    // background: red;
    margin: 0 auto;
}

/************************************/
/******* DESKTOP _GLOBAL END ********/
/************************************/

/****************************/
/*** TABLET _GLOBAL BEGIN ***/
/***************************/

@media only screen
and (max-width : 1000px){
    .wrapper{
        min-width: 800px;
        // background: yellow;
        max-width: 1000px;
    }
}

/**************************/
/*** TABLET _GLOBAL END ***/
/**************************/

/****************************/
/*** MOBILE _GLOBAL BEGIN ***/
/****************************/

@media only screen
and (max-width : 400px){
    .wrapper{
        // background: green;
        min-width: 400px;

    }
}

/****************************/
/*** MOBILE _GLOBAL END   ***/
/****************************/
