// TOP SECTION >> COLORS
$top_msg_color: #f1f1f1;
$top_msg_1_color: #cc5c6c;
$top_msg_2_color: #bababa;

$top_menu_first_color: #bababa;

$top_menu_second_color: #000;

// SLIDER SECTION >> COLORS
$slider_hr_color: #f0f0f0;
$slider_desc_text_color: #413738;
$slider_price_color: #c41735;
$slider_price__active_color: #e01b3c;
$slider_selector_color: #d4d4d4;

// SLIDER SECTION >> id="color" COLORS
$dk-color-aux: #c41735;
$dk-border-color: #d4d4d4 !default;
$dk-border-color-aux: #c41735 !default;
$dk-border-radius: 0 !default;
$dk-disabled-color: #d4d4d4 !default;
