/***********************************/
/***** DESKTOP _INFO BEGIN *******/
/**********************************/

.info{
    padding-bottom: 50px; // >> from .info_tabs_features .wrapper {margin-bottom: -50px}

    // border-bottom: 1px solid $hr_color;

    font-family: $title_font;

    &_tabs{
        position: relative;

        padding-top: 55px;

        text-align: center;

        border-bottom: 1px solid $hr_color;
        background-color: $info_bg_color;

        & #tab-1,
        & #tab-2,
        & #tab-3{
            display: none;

        }

        & label{
            padding: 0 75px;

            cursor: pointer;
            transition: color .5s;
            letter-spacing: 2px;

            color: $inactive_color;

            font-size: 18px;
        }
        & label:hover{
            color: $font_main_color;
        }
        & input:checked + label{
            color: $font_main_color;
        }

        & hr{
            width: 100%;
            height: 1px;
            margin-top: 50px;

            color: $hr_color;
            border: none;
            background-color: $hr_color;
        }


        &_content{
            position: relative;

            background-color: $info_bg_color;

        }

        &_features,
        &_specs,
        &_reviews{
            display: none;

            width: 100%;
            padding-top: 70px;

            text-align: left;
        }
        &_features{
            font-size: 0;

            & .wrapper{
                margin-bottom: -50px;
            }

            &_desc{
                display: inline-block;

                width: 50%;
                padding-right: 100px;

                vertical-align: top;
                letter-spacing: 2px;

                & h3{
                    padding-bottom: 40px;

                    font-size: 24px;
                }
                & h4{
                    padding-bottom: 30px;

                    color: $inactive_color;

                    font-size: 20px;
                }
                & p{
                    letter-spacing: 0;

                    font-family: $content_font;
                    font-size: 16px;
                    line-height: 30px;

                }
            }
            &_pic{
                position: relative;

                display: inline-block;

                width: 50%;
                margin-bottom: -100px;

                background: green;

                &::after{
                    position: absolute;
                    right: 0;
                    bottom: -25px;

                    content: "work with great equipment";
                    letter-spacing: 2px;

                    color: $inactive_color;

                    font-size: 20px;
                }

                & img{
                    width: 100%;
                }
            }
            &_details{
                width: 100%;

                background: white;

                & .wrapper{
                    display: flex;

                    padding-top: 50px + 130px;

                    justify-content: space-between;
                }

                &_1{
                    display: inline-block;

                    width: 25%;
                    // background: yellow;

                    vertical-align: top;

                    & h2{
                        padding-bottom: 25px;

                        letter-spacing: 2px;

                        font-size: 22px;
                    }
                    & h3{
                        letter-spacing: 2px;

                        color: $inactive_color;

                        font-family: $title_font;
                        font-size: 20px;
                    }
                    & div{
                        padding-bottom: 50px;

                        font-family: $content_font;
                        font-size: 16px;
                        line-height: 30px;
                    }
                }
                &_2{
                    display: inline-block;

                    width: 25%;

                    // background: green;

                    & h2{
                        padding-bottom: 25px;

                        letter-spacing: 2px;

                        font-size: 22px;
                    }
                    & h3{
                        letter-spacing: 2px;

                        color: $inactive_color;

                        font-family: $title_font;
                        font-size: 20px;
                    }
                    & div{
                        padding-bottom: 50px;

                        font-family: $content_font;
                        font-size: 16px;
                        line-height: 30px;
                    }
                }
                &_3{
                    display: inline-block;

                    width: 25%;

                    // background: yellow;

                    & h2{
                        padding-bottom: 25px;

                        letter-spacing: 2px;

                        font-size: 22px;
                    }
                    & h3{
                        letter-spacing: 2px;

                        color: $inactive_color;

                        font-family: $title_font;
                        font-size: 20px;
                    }
                    & div{
                        padding-bottom: 50px;

                        font-family: $content_font;
                        font-size: 16px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

#tab-1:checked ~ .info_tabs_content .info_tabs_features,
#tab-2:checked ~ .info_tabs_content .info_tabs_specs,
#tab-3:checked ~ .info_tabs_content .info_tabs_reviews{
    display: block;
}

/***********************************/
/***** DESKTOP _INFO END *********/
/**********************************/

/*************************/
/*** TABLET _INFO BEGIN ***/
/*************************/


@media only screen
and (max-width : $tablet_width){

}


/*************************/
/*** TABLET _INFO END***/
/*************************/

/*************************/
/** MOBILE _INFO BEGIN**/
/*************************/

@media only screen
and (max-width : $mobile_width){

}

/*************************/
/*** MOBILE _INFO END***/
/*************************/
