.slider{
    // height: 880px;
    padding-bottom: 70px;

    @include media_tablet {
        padding-top: 100px;
    }

    & .wrapper{
        height: 100%;
    }

    &_img{
        display: inline-block;
        float: left;
        overflow: hidden;

        width: 40%;
        height: inherit;
        padding: 0 0 150px 0;

        @include media_mobile {
            float: none;
            width: 100%;
        }

        &_thumbs > *{
            display: inline-block;
        }
        &_thumbs{
            text-align: center;
            vertical-align: middle;
            font-size: 0;
            height: 40px;
            // margin: 0 auto;

            &_item{
                width: 18%;
                padding: 5px;
                transition: width .2s;

                &:hover{
                    width: 24%;
                }

                & > img{
                    width: 100%;
                }
            }
        }
    }

    &_desc{
        display: inline-block;
        float: left;

        width: 60%;
        height: inherit;
        padding: 0 70px;

        font: 22px $title_font;

        @include media_mobile {
            float: none;
            width: 100%;

        }

        &_first{
            padding-bottom: 5px;

            letter-spacing: 5px;

            color: $slider_desc_text_color;

            font-size: 45px;

            @include media_tablet {
                font-size: 24px;
            }
        }

        &_second{
            padding: 0 70px 10px 0;

            letter-spacing: 2px;

            @include media_tablet {
                font-size: 16px;
            }
        }

        &_rating{
            text-align: right;
            letter-spacing: 2px;

            @include media_tablet {
                font-size: 16px;
            }
        }
        &_text{
            margin-top: 20px;
            padding: 60px 0;

            border-top: 1px solid $hr_color;

            font: 16px $content_font;
            line-height: 27px;

            @include media_tablet {
                font-size: 14px;
            }
        }

        &_buttons > *{
            width: 70%;

            @include media_mobile {
                margin: 10px 0;
                text-align: center;
            }
        }

        &_buttons{
            padding-bottom: 70px;

            text-align: right;

            border-bottom: 1px solid $hr_color;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media_mobile {
                flex-direction: column;
            }

            &_price{
                text-align: left;

                color: $active_color;

                font-size: 32px;

                @include media_mobile {
                    text-align: center;
                }
            }

            // manual >> https://formstone.it/components/dropdown/
            &_dropdown{
                white-space: nowrap;
                min-width: 120px;


                & .fs-dropdown{

                    &-item{
                        padding: 15px 5px;

                        text-align: center;
                        letter-spacing: 2px;

                        color: $active_color;
                        // background: red;
                        border: 3px solid $active_color;
                        border-top: 0;

                        font-family: $title_font;
                        font-size: 22px;


                        &:hover{
                            color: white;
                            background: $active_color;
                        }

                        &_selected{
                            color: $hr_color;
                            background: white;
                        }
                    }

                    &-selected{
                        padding: 15px 5px;

                        text-align: center;
                        letter-spacing: 2px;

                        color: $hr_color;
                        border: 3px solid $hr_color;
                        outline: none;
                        background: white;

                        font-family: $title_font;
                        font-size: 22px;

                        &:hover{
                            color: white;
                            border: 3px solid $active_color;
                            background: $active_color;
                        }
                    }
                    &-options{
                        border: 0;
                    }
                }

                &.fs-dropdown.fs-dropdown-focus{
                    outline: none;
                }
            }


            &_add{
                height: 60px;
                min-width: 120px;
                overflow: hidden;

                margin-left: 5px;
                padding-top: 5px;

                white-space: nowrap;
                text-overflow: ellipsis;

                border: 3px solid $active_color;
                background-color: white;

                font: 22px $title_font;

                &:hover{
                    color: white;
                    background-color: $active_color;
                }
                &:active{
                    background-color: $active_click_color;
                }
                &:focus{
                    outline: none;
                }
            }
        }
        &_share{
            display: flex;

            padding-top: 25px;

            letter-spacing: 2px;

            color: $slider_selector_color;

            font-size: 19px;

            align-items: center;
            justify-content: flex-end;

            @include media_tablet {
                word-spacing: 0;

                font-size: 16px;
            }

            & a{
                @include media_tablet {
                    zoom: 60%;
                }
            }

            & :first-child{
                margin-right: auto;
            }
            &_facebook{
                width: 34px;
                height: 34px;

                background-image: url('../img/social.png');
                background-position: right;
            }
            &_pinterest{
                width: 34px;
                height: 34px;

                background-image: url('../img/social.png');
                background-position: left;
            }
            &_twitter{
                width: 34px;
                height: 34px;

                background-image: url('../img/social.png');
                background-position: top;
            }
            &_tumblr{
                width: 34px;
                height: 34px;

                background-image: url('../img/social.png');
                background-position: right top;
            }
        }
    }
}

.active_star{
    width: 14px;
    height: 13px;

    vertical-align: top;

    background-image: url('../img/star_active.png');
}

.inactive_star{
    width: 14px;
    height: 13px;

    vertical-align: top;

    background-image: url('../img/star_inactive.png');
}
