/***********************************/
/***** DESKTOP _FOOTER BEGIN *******/
/**********************************/

@mixin footer_font {
    letter-spacing: 2px;

    color: white;

    font-family: $title_font;
    font-size: 26px;
}

@mixin footer_font_ul{
    padding-top: 60px;

    font-size: 17px;
    line-height: 40px;

    & a:link,
    & a:active,
    & a:visited {
        text-decoration: none;

        color: $footer_menu_color;
    }
    & a:hover{
        color: $active_color;
    }
}


.footer > *{
    display: inline-block;

    vertical-align: top;
}

.footer{
    padding: 120px 100px 0 100px;

    background: #000;

    font-size: 0;

    &_logo{
        width: 20%;

        @include media_tablet {
            width: 50%;
            padding-bottom: 30px;
        }

        & img{
            width: 50%;
        }
    }

    &_legal{
        width: 15%;

        @include media_tablet {
            width: 50%;
            padding-bottom: 30px;
        }

        @include footer_font;

        & ul{
            @include footer_font_ul;
        }
    }

    &_help{
        width: 15%;

        @include media_tablet {
            width: 50%;
            padding-bottom: 30px;
        }

        @include footer_font;

        & ul{
            @include footer_font_ul;
        }
    }

    &_social{
        width: 15%;

        @include media_tablet {
            width: 50%;
            padding-bottom: 30px;
        }

        @include footer_font;

        & ul{
            @include footer_font_ul;
        }
    }

    &_forms{
        width: 35%;

        @include footer_font;

        @include media_tablet {
            width: 100%;
            padding-bottom: 30px;
        }


        &_locator{
            position: relative;
        }

        &_newsletter{
            position: relative;

            margin-top: 50px;
        }

        & input[type="text"]{
            width: 100%;
            height: 75px;
            margin-top: 20px;
            padding-right: 40%;
            padding-left: 30px;

            text-overflow:ellipsis;

            color: $footer_menu_color;
            border: 0;
            outline: none;
            background: #202020;

            font-family: $content_font;
            font-size: 15px;
            &::placeholder{
                color: $footer_menu_color;
            }
        }
        & input[type="button"]{
            position: absolute;
            top: 55px;
            right: 10px;

            width: 30%;
            padding: 20px 0;

            cursor: pointer;

            color: white;
            border: 0;
            -moz-appearance: button;
            outline: none;
            background: $active_color;

            font-family: $content_font;
            font-size: 15px;

            @include media_tablet {
                width: 40%;
            }

            &:active{
                background: $active_click_color;
            }
        }

    }

    &_copyring{
        width: 100%;
        margin-bottom: 1px; // hide some little  wierd line in bottom

        text-align: center;

        color: $footer_menu_color;

        font-family: $content_font;
        font-size: 15px;

        & hr {
            height: 1px;
            margin-top: 35px;

            border: 0;
            background: $hr_color2;
        }
        & p{
            padding: 30px 0;
        }
    }
    & a,
    & h3 {

        @include media_tablet {
            font-size: 14px;
        }
    }

}
