.media{
    height: 560px;

    &_video{
        float: left;

        width: 40%;
        height: 100%;

        background: url(../img/media/a3.jpg) no-repeat;
        background-position: center;
        background-size: cover;

        // &:hover{
        //     background:
        //         linear-gradient(rgba(255, 255, 255, 0.2),
        //                         rgba(255, 255, 255, 0.2)),
        //         url(../img/media/a3.jpg) no-repeat;
        //     background-position: center;
        //     background-size: cover;
        // }
    }
    &_img{
        float: left;

        width: 60%;
        height: 100%;

        &_top{
            height: 50%;

            &_1{
                float: left;

                width: 35%;
                height: 100%;

                background: url(../img/media/action3.jpg) no-repeat;
                background-position: center;
                background-size: cover;

                @include media_mobile {
                    display: none;
                }
            }
            &_2{
                float: left;

                width: 65%;
                height: 100%;

                background: url(../img/media/a2.jpg) no-repeat;
                background-position: center;
                background-size: cover;

                @include media_mobile {
                    width: 100%;
                }
            }
        }
        &_bottom{
            height: 50%;

            &_1{
                float: left;

                width: 65%;
                height: 100%;

                background: url(../img/media/action1.jpg) no-repeat;
                background-position: center;
                background-size: cover;

                @include media_mobile {
                    width: 100%;
                }
            }
            &_2{
                float: left;

                width: 35%;
                height: 100%;

                background: url(../img/media/action2.jpg) no-repeat;
                background-position: center;
                background-size: cover;

                @include media_mobile {
                    display: none;
                }
            }
        }
    }


}
